/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 13, 2017, 2:29:19 AM
    Author     : onear
*/

.root{
    -fx-font-family: "Courier New";
}

.tools_pane{
    -fx-background-color: #fcc99c;
    -fx-background-radius: 5.0;
    -fx-padding: 8;
    -fx-spacing: 20;
    -fx-border-width: 1px;
    -fx-border-color: #997a5e;
}

.dialog_pane {
    -fx-padding:15;
    -fx-hgap:10;
}

.dialog_heading {
    -fx-font-size: 24pt;
    -fx-background-color: bisque;
    -fx-color:red;
}

.dialog_prompt {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-padding: 10;
}


.bordered_pane {
    -fx-background-color: #fcc99c;
    -fx-background-radius: 5.0;
    -fx-padding: 8;
    -fx-spacing: 20;
    -fx-border-width: 2px;
    -fx-border-color: #e0cdbc;
}

.workspace_pane{
    -fx-background-color: #ffe9d6;
    -fx-padding: 10,10,10,10;
    -fx-spacing: 8;
    
}


.back_pane{
    -fx-background-color: #fcc99c;
    -fx-padding: 10,10,10,10;
    -fx-spacing: 8;
    -fx-font-weight: bold;
}

.display_pane{
    -fx-background-color:#e2e2e2;
    -fx-padding: 5,5,5,5;
    -fx-border-width: 1px;
    -fx-border-color: #727272;
    -fx-font-weight: bold;
}

.tab_pane{
    -fx-background-color:#fcc99c;
    -fx-padding: 10,10,10,10;
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
    -fx-border-width: 1px;
    -fx-border-color: #997a5e;
}

.tab{
    -fx-background-color:#ffffff;
}

.header_pane{
    -fx-background-color:#fcc99c;
    -fx-background-radius: 5.0;
    -fx-padding: 8;
    -fx-spacing: 10;
    -fx-font-weight: bold;
}

.header_label {
    -fx-font-size: 15pt;
    -fx-font-weight: bold;
    -fx-padding: 5 10 5 10;
}

.subheader{
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
    -fx-padding: 2,2,2,2;
}

.options_grid{
    -fx-spacing:8;
}

.table{
    -fx-padding: 5,5,5,5;
}

.table_column{
  
}

.table_column_label{
    
}

.ta_table{
     -fx-padding: 10px;
    -fx-border-insets: 10px;
    -fx-background-insets: 10px; 
    -fx-hgap:10px;
}
.button{
    
}

.check_box{
    
}

.common_label{
    
}

.note_label{
    
}

.text_field{
    
}

.color_picker{
    
}

.date_picker{
    
}

.selector{
    
}

.office_hours_grid{
    
}

.office_hours_grid_time_column_header_pane{
    -fx-background-color:#000066;
    -fx-border: 1px;    
}

.office_hours_grid_time_column_header_label{
    -fx-text-fill:white;
    -fx-font-size:14pt;   
    -fx-font-weight:bold;
    -fx-padding: 10 20 10 20;
}

.office_hours_grid_day_column_header_pane{
    -fx-background-color:#000066;
    -fx-border: 1px;
    -fx-border-color: #000066;
}

.office_hours_grid_day_column_header_label{
    -fx-text-fill:white;
    -fx-font-size:14pt;   
    -fx-font-weight:bold;
    -fx-padding: 10 20 10 20;
}

.office_hours_grid_time_cell_pane{
    -fx-background-color:#000099; 
    -fx-border: 1px;   
    -fx-border-color:darkgray;
    -fx-border-style:dashed;
}

.office_hours_grid_time_cell_label{
    -fx-font-size:14pt;
    -fx-text-fill:white;
}

.office_hours_grid_ta_cell_pane{
    -fx-background-color:#abab78;
    -fx-border: 1px;
    -fx-border-color: black;
}

.office_hours_grid_ta_cell_label{
    -fx-font-weight:bold;
    -fx-font-size:12pt;  
    -fx-padding: 5 10 5 10;
}

.highlighted_grid_cell {
    -fx-border-color: #ffff00;
    -fx-border: 5px;
    -fx-background-color:#abab78
}

.highlighted_grid_row_or_column {
    -fx-border-color: #aaaa00;
    -fx-border: 5px;
    -fx-border-style:solid;
}